/target/
/crx-calc/nbproject/
/crx-ejb/target/
/crx-web/target/
/crx-calc/target/
/crx-ear/target/
/crx-ejb/dist
/crx-ejb/endorsed
/crx-web/dist
/crx-web/.errai
/crx-web/src/main/gwt-unitCache
/crx-web/nb-configuration.xml
/crx-web/src/main/webapp/WEB-INF/classes
/crx-web/src/main/webapp/WEB-INF/lib
/crx-web/src/main/webapp/app
